<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647075040650-6lrv93le5hvr78qdi6c7e73k2mbbpb1r.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647075040650-6lrv93le5hvr78qdi6c7e73k2mbbpb1r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>647075040650-rcp18gp3bv82ijhhr12lki0g6t8lqhe1.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvOiuR0QpCHMOh9WzJvDaEwcG2nXxFpMk</string>
	<key>GCM_SENDER_ID</key>
	<string>647075040650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuponce.app</string>
	<key>PROJECT_ID</key>
	<string>kupon-cepte</string>
	<key>STORAGE_BUCKET</key>
	<string>kupon-cepte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647075040650:ios:d0b6ba6b3b4e2d3b5f5c6d</string>
</dict>
</plist>
